#login-form, #upload-form {
	display: none;
	position: absolute;
	top: 200px;
	left: 200px;
	border: solid 2px;
	background-color: #bbb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 20px;
}

#user-name {
	float: right;
}

#content-area {
	display: block;
	width: 640px;
	height: 480px;
}
